/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .metallic-text {
    @apply bg-gradient-to-b from-white from-40% to-gray-500 bg-clip-text text-transparent;
  }
  .metallic-text-long {
    @apply bg-gradient-to-b from-white from-40% to-gray-500 bg-clip-text text-transparent;
    @apply py-2;
  }

  .btn-ghost {
    @apply items-center gap-2 border-white border-2 hover:bg-blue-700 text-white font-bold py-3 px-8 rounded-lg text-lg transition-colors cursor-pointer hover:border-none;
  }

  .bg-primary {
    background-color: #161922;
  }
}

body {
  background: var(--background);
  background-image: url('https://ews-app-s3.s3.us-east-1.amazonaws.com/website/gradient-radial.png'),
    url('https://ews-app-s3.s3.us-east-1.amazonaws.com/website/grid-blocks.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  color: var(--foreground);
  font-family: var(--font-general-sans), Arial, Helvetica, sans-serif;
}
